<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modal</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <main>
      <section id="modalCard">
        <button id="deleteBtn">DELETE!</button>
        <section id="dialogBox">
          <p>Are you sure?</p>
          <button id="yesBtn">YES!</button>
          <button id="noBtn">No...</button>
        </section>
      </section>
    </main>
    <script src="script.js"></script>
  </body>
</html>
