* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #f0f2f5;
  color: #291805;
}

/* Header */
.header{
  position: sticky;
  top: 0;
  gap: 8px;
  background-color: #ffffff;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;
  padding: 20px 20px 5px 20px;
}
.logo {
  font-weight: bold;
  color: rgb(105, 38, 19);
  font-size: clamp(14px, 2.5vw, 20px);
}
/* Hamburger menu */
.menu-toggle {
  position: relative;
  border: none;
  background: transparent;
} 

/* Navbar */
.navbar{
  border: none;
  width: 100%;
  text-align: left;
}

.nav-menu{
  position: absolute;
  margin-top: 5px;

  display: flex;
  flex-direction: column;

  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(4px);
  border-radius: 0 0 3px 3px;

  gap: 16px;
  width: auto;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}
.nav-menu.open{
  max-height: 500px;
}

.nav-menu > li {
  position: relative;
}

/* Dropdown menus */
.dropdown-menu {
  max-height: 0;
  overflow: hidden;
}

.dropdown-menu.show {
  max-height: 300px;
}

/* Nav buttons */
.dropdown-btn{
  border: none;
  font-weight: bold;
  background: inherit;
  padding: 5px 10px;
}
.dropdown-btn:hover {
  color: rgb(86, 84, 84);
}
.dropdown-btn::after{
  content:' ▸';
}

/* Main */
main{
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}
h1 {
  margin-bottom: 12px;
}

/* Remove hamburger menu */
@media (min-width: 500px){
  .menu-toggle{
    display: none;
  }

  .nav-menu{
    position: relative;
    flex-direction: row;
    max-height: none;
    width: auto;
    justify-content: center;

    backdrop-filter: none;
    background: inherit;
  }

  .dropdown-btn::after{
  content:' ▾';
}

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
  }
}